body {
    background: url("img/HoN\ Cover.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#gametext {
    text-shadow: 2px 2px black;
}

#gameheader {
    text-shadow: 2px 2px black;
}

#lgart {
    box-shadow: 2px 2px 5px black;
}

#resumebullets {
    text-align: left;
}